* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background-color: #E6E7E8;
}

/* Background & Text Color*/
.bg-qadr {
    background-color: #009444 !important;
}

.text-qadr-1 {
    color: #009444 !important;
}

.text-qadr-2 {
    color: #0A5C2F !important;
}

.text-qadr-3 {
    color: #7a7a7a !important;
}

/* Carousel */
.carousel {
    margin-top: 80px !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #6EC1E4;
}

/* Janji Temu */
.img-janji-temu {
    width: 570;
    height: 142;
}

/* Btn WA */
.myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: #009444;
    cursor: pointer;
}

/* Artikel Card */
.artikel {
    margin-top: 80px !important;
}

.slide {
    background-color: #009444 !important;
    border-radius: 25px;
}

.slide-img {
    width: auto;
    height: auto;
    border-radius: 5px;
    display: block;
}

.s-img {
    width: 100%;
    margin: 0 auto;
    border-radius: 25px;
    display: block;
}

.caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.btn-artikel {
    background-color: #0A5C2F !important;
    padding: 12px 24px;
    text-decoration: none;
    color: #FFF;
    border-radius: 12px;
}

.btn-artikel:hover {
    background-color: #FFF !important;
    color: #0A5C2F;
}

/* Artikel Detail */
.link-artikel {
    padding: 10px;
    border-radius: 50%;
}

.img-artikel-detail {
    max-width: 100%;
    max-height: 50% !important;
}

.la-wa {
    background-color: #25d366;
}

.la-fb {
    background-color: #3b5998;
}

.la-tw {
    background-color: #1da1f2;
}

.la-ld {
    background-color: #0077b5;
}

.la-pr {
    background-color: #aaa;
}

.la-email {
    background-color: #ea4335;
}

.link-artikel svg {
    color: #FFF;
}

.txt-heading, .heading {
    color: #7a7a7a;
}

.preview-link {
    color: #cc3366;
}

.preview-link:hover {
    color: #000;
}

/* Promo */
.promo-card {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 0px 25px 36px 25px;
    border-radius: 21px 21px 21px 21px;
}

.promo-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dp-1 {
    border-right: 2px solid;
    padding: 10px;
}

.dp-2 {
    padding: 10px;
}

.divider {
    width: 100%;
    border-style: solid;
}

.divider-left {
    border-left: 6px solid black;
}

.btn-promo {
    background-color: #0A5C2F !important;
    padding: 12px 24px;
    text-decoration: none;
    color: #FFF;
    border-radius: 12px;
}

.btn-promo:hover {
    background-color: #61CE70 !important;
    color: #FFF;
}

/* Hubungi Kami */
.contact {
    margin-top: 80px;
}

.btn-contact {
    background-color: #0A5C2F !important;
    padding: 12px 24px;
    text-decoration: none;
    color: #FFF;
    border-radius: 12px;
}

.btn-contact:hover {
    background-color: #61CE70 !important;
    color: #FFF;
}

/* Slider */
.swiper-navBtn {
    color: #000;
    height: 50px;
    width: 50px;
    transform: translateY(-40%);
    background: #fff;
    border-radius: 50%;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 24px;
}

.swiper-pagination-bullet {
    background-color: #333;
}

/* footer */
footer {
    margin-top: 20px;
    background-color: #ECBE00;
}

@media screen and (max-width: 768px) {
    .swiper-navBtn {
        display: none;
    }

    /* Sekilas Pandang */
    .p-sekilas-pandang {
        font-size: 11px;
    }
}
